# Python
__pycache__/
*.py[cod]

# Environments
backend/.env
.venv/

# OS
.DS_Store
Thumbs.db

# Node / Expo
**/node_modules/
**/.expo/
**/android/build/
**/.gradle/
**/.kotlin/
*.salive
**/.cxx/
tmp_*.zip
tmp_*/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
infra/environments/*.tfvars
